<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RolePlayersGuild.Properties.Settings.rpgDBConn" connectionString="Data Source=data.base.com;Initial Catalog=RPGDB;Persist Security Info=True;User ID=DBAdminUser;Password=DBAdminPassword"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CharacterImagesFolder" value="CharacterImages/" />
    <add key="DisplayCharacterImagesFolder" value="http://images.roleplayersguild.com/CharacterImages/" />
    <add key="AWSBucketName" value="images.roleplayersguild.com" />
    <add key="SMTPIAMUser" value="SMTP IAM USer Goes Here"/>
    <add key="SMTPUser" value="Your SMTP USer Goes Here" />
    <add key="SMTPPass" value="Your SMTP Password Goes Here" />
    <add key="EncryptionKey" value="Your Encryption Key Goes Here" />
    <add key="ImageMaxPerCharacter" value="12" />
    <add key="BronzeMemberImageMax" value="100" />
    <add key="SilverMemberImageMax" value="200" />
    <add key="GoldMemberImageMax" value="300" />
    <add key="PlatinumMemberImageMax" value="1000000" />
    <add key="AWSAccessKey" value="Your AWS Access Key Goes Here"/>
    <add key="AWSSecretKey" value="Your AWS Secret Key Goes Here"/>
  </appSettings>
  <system.web>
    <sessionState timeout="180"/>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/BadRequest/Default.aspx" >
    </customErrors>
    <machineKey validationKey="VALIDATION KEY GOES HERE" decryptionKey="DECRYPTION KEY GOES HERE" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="WWW Redirect" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^Roleplayersguild\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.roleplayersguild.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>