<table cellspacing="0" cellpadding="5" style="width: 100%;">
    <tbody>
        <tr style="background:#666666; color: #ffffff; "><th>Your RPG membership has ended.</th></tr>
        <tr><td>If you did not want to end your membership, please contact the RPG Staff right away.</td></tr>
        <tr><td style="font-size:70%">Please understand that if you've decided to end your membership before the year end, there will be no refund issued for the remainder. As such, your perks will remain until the end of your originally purchased membership as long as your account remains active.</td></tr>
    </tbody>
</table>