<table cellspacing="0" cellpadding="5" style="width: 100%;">
    <tbody>
        <tr style="background:#666666; color: #ffffff; "><th>[SENDERNAME] has sent you a new [CONTENTTYPE] on RPG!</th></tr>
        <tr><td>To view/reply to the new [CONTENTTYPE], please log in to your account at the <a href="http://www.roleplayersguild.com/">Role-Players Guild</a>.</td></tr>
        <tr><td></td></tr>
        <tr><td style="text-align: right;"><font size="2">If you would like to no longer receive these notifications, <a href="http://www.roleplayersguild.com/Unsubscribe?UserID=[USERID]&Key=[USEREMAIL]">click here</a>.</font></td></tr>
    </tbody>
</table>