<table cellspacing="0" cellpadding="5" style="width: 100%;">
    <tbody>
        <tr style="background:#666666; color: #ffffff; "><th>There was a request to have your password reset on RPG!</th></tr>
        <tr><td>In order to reset your password on RPG, please click the link below. If you cannot click it, copy and paste it into your browser window.</td></tr>
        <tr>
            <td>
                <a href="http://www.roleplayersguild.com/account-recovery/initiate.aspx?reckey=[RECOVERYKEY]&reckeytwo=28[YEARDAY][RAND1]&usrid=[USERID]&usridtwo=[MONTHHOUR][RAND2]&chksum=[RAND3]">
                    http://www.roleplayersguild.com/account-recovery/initiate.aspx?reckey=[RECOVERYKEY]&reckeytwo=28[YEARDAY][RAND1]&usrid=[USERID]&usridtwo=[MONTHHOUR][RAND2]&chksum=[RAND3]
                </a>
            </td>
        </tr>
        <tr><td></td></tr>
        <tr><td style="text-align: right;"><font size="2">If you would like to no longer receive these notifications, <a href="http://www.roleplayersguild.com/Unsubscribe?UserID=[USERID]&Key=[USEREMAIL]">click here</a>.</font></td></tr>
    </tbody>
</table>